testeOSB/SBPTesteOSBRest/Schema/Entrada.xsd

<?xml version= '1.0' encoding= 'UTF-8' ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.teste.Entrada" targetNamespace="http://www.teste.Entrada"
     elementFormDefault="qualified">
    <xsd:complexType name="EntradaType">
        <xsd:sequence>
            <xsd:element name="name" nillable="true" type="xsd:string"/>
            <xsd:element name="dateOfBirth" nillable="true" type="xsd:date"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="Entrada" type="EntradaType"/>
</xsd:schema>
